body {
  margin: 0;
	background-color: black;
	color: white;
}

.navbar{
	background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home-hero {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: -1;
	justify-content: center;
	text-align: center;
	padding: 1rem;
	text-shadow: 0 0 8px #66757f;
}
